body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(43, 42, 42);
}
input{
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: inherit;
    width: 70%;
    font-size: 20px;
    margin: 10px;
}
#movie-button{
    background-color: rgba(221, 63, 5, 0.877) ;
    color: antiquewhite;
    padding: 14px;
    margin: 10px ;
    border-radius: 4px;
    width: 78%;
    border: none;
    outline: none;

}
#clear-list{
    background-color: darkred;
    color: white;
    padding: 10px;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 10px;
}
li{
    color: white;
}
#movie-list{
    padding: 0;
}
.movie-display > h1{
    color: orangered;
}
